html,
body {
	height: 100%;
}
.global-container {
	background-color: #222d32 !important;
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	color: whitesmoke;
}

form {
	padding-top: 10px;
	font-size: 14px;
	margin-top: 30px;
}

.login-form {
	width: 380px;
	height: 400px;
	margin: 20px;
}

input[type="text"],
input[type="password"] {
	background: whitesmoke;
	border-radius: 10px;
	margin-bottom: 20px;
}
